body {
  background-color: #18191a !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tab > .nav-item > .nav-link {
  color: #fff !important;
}

.tab > .nav-item > .active {
  background-color: #282828 !important;
  color: #fff !important;
}

.level0 {
  background-color: #141414 !important;
}

.level1 {
  background-color: #282828 !important;
}

.level2 {
  background-color: #373737 !important;
}

.level3 {
  background-color: #4A4A4A !important;
}

.level4 {
  background-color: #828282 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.consistent-height .tab-content {
  display: flex;
}

.consistent-height .tab-content>.tab-pane {
  display: block;
  /* undo "display: none;" */
  visibility: hidden;
  margin-right: -100%;
  width: 100%;
}

.consistent-height .tab-content>.active {
  visibility: visible;
}

/* .btn-outline-warning .text-white:hover {
  color: black !important;
} */

/*
#18191a
#282828
#373737
#4A4A4A
#828282
*/
